* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
background-color: white;

}

.nav{
    background-color: rgb(29, 98, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
list-style: none;
display: flex;
}
li {
color: white;
margin: 2px 2px;
padding: 16px 18px;
font-size: 25px;
cursor: pointer;
font-weight: bold;
}

h1 {
    margin: 16px 141px;
    padding: 1px 14px;
    color: rgb(32, 12, 12);
    font-weight: bold;
    font-size: x-large;
}
.Mine{
color: black;
}
a{
color: white;
text-decoration: none;
}
